*{    color: #ECFEAA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    width: 1300px;
    margin: auto;
}
body{background-color: #363732;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type:circle;
}
li{
    margin: 0 2em;
}
.logo{
    width: 100px;
}
main{
    width: 1300px;
    margin: auto;
    
}
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    text-decoration: underline;
    font-size: 35px;
}
h3{
    font-size: 30px;
}
.picbox{
    display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
    padding: 0 20px;
}
.proj{
display: block;
width: 350px;
height: 500px;
position: relative;
margin: 20px 0px;
align-items: center;
background-color: #6F9283;
border-radius: 25px;

}
.projimg{
    display: block;
    width: 90%;
    border-radius: 25px;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0);
box-sizing: border-box;
}
.projcardtitle{
text-align: center;
background-color: rgba(0, 0, 0, 0);
color: #363732

}
.projcardpara{
    text-align: center;
    color: #363732;
    background-color: rgba(0, 0, 0, 0);
}
#codelink{
    color: rgb(148, 148, 235);
    text-decoration: underline;
}