*{    color: #ECFEAA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    width: 1300px;
    margin: auto;
}
body{background-color: #363732;
}
header{
    display: flex;
    width: 1304px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: #363732;
    top: 0px;
    padding-top: 5px;
    
}
main{
    position: relative;
    padding-top: 100px;
    display: block;
}
ul{
    display: flex;
    list-style-type:circle;
}
li{
    margin: 0 2em;
}
.logo{
    width: 100px;
}
main{
    width: 1300px;
    margin: auto;
    
}
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    text-decoration: underline;
    font-size: 35px;
}
h3{
    font-size: 30px;
}
h3.projcardtitle{
    margin: 10px 0px 0px 0px;
}
.picbox{
    display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
    padding: 0 20px;
}
.proj{
display: block;
width: 350px;
height: 475px;
position: relative;
margin: 20px 0px;
align-items: center;
background-color: #9ca578;
border-radius: 25px;
text-decoration: none;
flex-wrap: wrap;
}
.projimg{
    display: block;
    width: 90%;
    border-radius: 25px;
    margin: 5% 5% 0px 5%;
    background-color: rgba(133, 32, 32, 0);
    box-sizing: border-box;
    object-fit: cover;
}
.projcardtitle{
text-align: center;
background-color: rgba(0, 0, 0, 0);
color: #363732

}
.projcardpara{
    text-align: center;
    color: #363732;
    background-color: rgba(0, 0, 0, 0);
}
.button{
    color: #363732;
}
.skilllogos{
    display: flex;
    justify-content: space-around;
}
.languagelogo{
    width: 175px;
    height: 175px;
}
.githublink{
    color: aqua;
}
#codelink{
    color: rgb(148, 148, 235);
    text-decoration: underline;
}
#mixedmessages{
    color: aqua;
}
#fox{
    object-position: 0 25%;
}
@media only screen and (min-width:800px) and (max-width: 1250px){
    html,header, main{
        width: 800px;
        margin: auto;
    };
    .projects,.picbox{
        width: 800px;
    }
    .languagelogo{
        width: 100px;
        height: 100px;
    }
    }
@media only screen and (min-width:450px) and (max-width:800px){
    html,header,main{
        width: 450px;
    }
    main{
        padding-top: 50px;
    }
    li{
        font-size: 14px;
    }
    h3{
        font-size: 18px;
    }
    .projects,.picbox{
        width: 450px;
        margin: auto;
    }
    .languagelogo{
        width: 50px;   
        height: 50px;
    }
    .proj{
        width: 200px;
        height: 220px;
    }
    .projimg{
        width: 150px;
        height: 150px;
        margin: auto;
    }
    .projcardpara{
        display: none;
    }
    .logo{
        width: 30px;
    }
}
@media only screen and (max-width:450px){
    html,header,main{
        width: 250px;
    }
    main{
        padding-top: 50px;
    }
    li{
        font-size: 14px;
    }
    h3{
        font-size: 18px;
    }
    .projects,.picbox{
        width: 250px;
        margin: auto;
    }
    .languagelogo{
        width: 50px;   
        height: 50px;
    }
    .proj{
        width: 200px;
        height: 220px;
    }
    .projimg{
        width: 100px;
        height: 100px;
        margin: auto;
    }
    .projcardpara{
        display: none;
    }
    .logo{
        width: 30px;
    }
}
