*{    color: #ECFEAA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    width: 1300px;
    margin: auto;
}
body{background-color: #363732;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type:circle;
}
li{
    margin: 0 2em;
}
.logo{
    width: 100px;
}
main{
    width: 1300px;
    margin: auto;
    
}
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    text-decoration: underline;
    font-size: 35px;
}
h3{
    font-size: 30px;
}
h3.projcardtitle{
    margin: 10px 0px 0px 0px;
}
.picbox{
    display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
    padding: 0 20px;
}
.proj{
display: block;
width: 350px;
height: 475px;
position: relative;
margin: 20px 0px;
align-items: center;
background-color: #9ca578;
border-radius: 25px;
text-decoration: none;
}
.projimg{
    display: block;
    width: 90%;
    border-radius: 25px;
    margin: 5% 5% 0px 5%;
    background-color: rgba(133, 32, 32, 0);
    box-sizing: border-box;
    object-fit: cover;
}
.projcardtitle{
text-align: center;
background-color: rgba(0, 0, 0, 0);
color: #363732

}
.projcardpara{
    text-align: center;
    color: #363732;
    background-color: rgba(0, 0, 0, 0);
}
.button{
    color: #363732;
}
.skilllogos{
    display: flex;
    justify-content: space-around;
}
.languagelogo{
    width: 175px;
    height: 175px;
}
.githublink{
    color: aqua;
}
#codelink{
    color: rgb(148, 148, 235);
    text-decoration: underline;
}
#mixedmessages{
    color: aqua;
}
#fox{
    object-position: 0 25%;
}